* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.favicon {
      width: 16px;
      height: 16px;
      /* border-radius: 50; */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #B7B7B7;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.container {
    width: 375px;
    text-align: left;
}

.profile {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.profile-image {
    width: 100px;
    border-radius: 45%;
    margin-bottom: 10px;
}

.social-links img {
    width: 30px;
    margin: 5px;
}

.button {
    background-color: #eee;
    padding: 15px;
    border-radius: 8px;
    margin: 10px 0;
}

.simple-button {
    font-size: 1rem;
}

.feature-button {
    font-size: 1.1rem;
}

.feature-button p {
    font-size: 0.85rem;
    color: #777;
}

.title {
    font-weight: bold;
    margin: 20px 0;
}

.featured-project img {
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}

.featured-project p {
    margin: 10px 0;
}

p {
    margin-bottom: 5px;
}

h1 {
    margin-bottom: 5px;
}

/* Remove the default color for links and make it look like normal text */
a {
    color: inherit; /* Inherits the text color from its parent */
    text-decoration: none; /* Removes underline */
}

/* Change color on hover */
a:hover {
    color: red; /* Turns red when hovered */
}

/* Divider styling */
.divider {
    height: 1.5px;
    background-color: #3e323200; /* Customize the color as needed */
    margin: 20px 0; /* Add space above and below the divider */
}
