body {
    display: block;
    padding-left: 1%;
    padding-right: 1%;
    font-size: small;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.cnt-board {
    display: flex;
    background-color: #0F0F0F;
    height: auto;
    margin-bottom: 10px;
}


.cnt-text {
    padding-left: 1%;
    padding-right: 1%;
    height: auto;
    width: 50%;
    background-color: rgb(120, 200, 247);
    /* font-family: initial; */
}